<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
  <a href="/" class="header-left">
    <img src="/images/otneul-logo3.png" alt="로고" class="logo">
  </a>
  <div class="header-right">
    <button class="menu-toggle-button">
      <img src="/images/ui-icons/bx-menu.svg" alt="메뉴 아이콘" class="menu-icon">
    </button>
  </div>
</header>

<div class="menu-container">
  <ul class="menu">
    <li><a href="/location/select" class="button">지역 선택으로 이동</a></li>
    <li><a href="https://github.com/M1nKyu/weather-clothes" class="button">서비스 소개 (GitHub)</a></li>
    <li><a href="https://github.com/M1nKyu/weather-clothes/discussions/64" class="button">의견 남기기</a></li>
  </ul>
</div>