@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NEXON Lv1 Gothic OTF', Arial, sans-serif;
}

header {
    position: fixed; /* 화면 상단에 고정 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    width: 100%; /* 화면 전체 너비 */
    background-color: #ffffff; /* 헤더 배경색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 70px;
}

.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

.header-left img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.header-left h1 {
    color: #42C0E8;
    font-size: 30px;
    margin-right: 5px;
}

.subtitle {
    color: #42C0E8;
    font-weight: bold;
}

.menu-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
}


/* 우측 메뉴 */
.menu-container {
    position: fixed;
    top: 0;
    right: -300px; /* 처음에는 화면 밖에 숨김 */
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out; /* 애니메이션 효과 */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-left-radius: 15px; /* 위쪽 끝을 둥글게 */
    border-bottom-left-radius: 15px; /* 아래쪽 끝을 둥글게 */
}

.menu-container.active {
    right: 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    font-weight: bold;
}

.menu a:hover {
    color: #58ACFA;
}

/* 메인 영역 */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 130px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; /* 최대 너비 확대 */
    width: 100%;
    gap: 30px;
}

/* 푸터 스타일 */
.footer {
    display: none;
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0; /* 화면 하단에 위치 */
    left: 0; /* 화면 왼쪽에 고정 */
    width: 100%;
    background-color: #ffffff; /* 배경 색상 설정 */
    z-index: 1000; /* 다른 요소들 위에 위치하도록 z-index 설정 */
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}

/* 컨테이너 스타일 */
.footer .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 푸터 버튼 스타일 */
.footer button {
    flex: 1; /* 버튼들이 동일한 너비로 확장 */
    background-color: #ffffff;
    color: #333;
    border: none;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* 버튼 호버 시 스타일 */
.footer button:hover {
    background-color: #f5f5f5;
    color: #007bff;
}

/* 버튼 활성화 시 스타일 */
.footer button:active {
    background-color: #e0e0e0;
    color: #0056b3;
}

/* 스크롤 애니메이션 */
html {
    scroll-behavior: smooth;
}


/* 모바일 환경을 위한 스타일 */
@media (max-width: 768px) {
    html, body {
        overflow: auto; /* 스크롤은 가능 */
    }

    /* 모든 스크롤바를 숨김 */
    ::-webkit-scrollbar {
        display: none; /* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
    }

    * {
        -ms-overflow-style: none;  /* IE와 Edge에서 스크롤바 숨기기 */
        scrollbar-width: none;    /* Firefox에서 스크롤바 숨기기 */
    }
    main {
        margin-top:50px;
        padding:20px;
    }

    header {
        padding: 6px 12px;
        height: 50px;
    }

    .header-left h1 {
        font-size: 24px;
    }

    .header-left img {
        width: 60px;
    }

    .menu-toggle-button {
        padding: 8px;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
    }

    .menu a {
        font-size: 20px;
    }

    .footer {
        display: block;
    }
}