<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otneul</title>
    <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>옷늘</h1>
            <span class="subtitle">오늘 날씨엔 어떤 옷?</span>
        </div>
        <div class="header-right">
            <img src="/images/profile.svg" alt="사용자 아이콘" class="user-icon">
        </div>
    </header>

    <nav>
        <ul class="menu">
            <span>지역 선택으로 이동:</span>
            <a href="/location/select" class="button">Go</a>
        </ul>
        <div th:if="${fcstWeather == null}" class="error-message">
            <p th:text="${message}">Location data not found in cookies.</p>
        </div>
    </nav>

    <main>
        <div class="main-content" th:if="${fcstWeather != null}">
            <div class="weather-info">
                <div class="weather-box">
                    <h2>City</h2>
                    <h1 class="date-time" th:text="${nowWeather.t1h} + '°'"></h1>

                    <div class="temperature-info">
                        <div class="weather-image">
                            <img src="/images/sun.svg" alt="날씨 아이콘">
                        </div>
                    </div>

                    <div class="weather-details">
                        <!-- -->
                    </div>
                </div>

                <div class="outfit-suggestions">
                    <h3>이런 날씨엔..</h3>
                    <ul>
                        <li th:text="${clothingRecommendations}"></li>
                    </ul>
                </div>
            </div>
            <div class="image-placeholder">
                이미지
            </div>
        </div>
    </main>

    <table border="1">
        <thead>
        <tr>
            <th>Base Date</th>
            <th>Base Time</th>
            <th>Forecast Date</th>
            <th>Forecast Time</th>
            <th>NX</th>
            <th>NY</th>
            <th>Temperature (°C)</th>
            <th>Precipitation (mm)</th>
            <th>East-West Wind (m/s)</th>
            <th>North-South Wind (m/s)</th>
            <th>Humidity (%)</th>
            <th>Precipitation Type</th>
            <th>Wind Direction (°)</th>
            <th>Wind Speed (m/s)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weather : ${fcstWeather}">
            <td th:text="${weather.baseDate}"></td>
            <td th:text="${weather.baseTime}"></td>
            <td th:text="${weather.fcstDate}"></td>
            <td th:text="${weather.fcstTime}"></td>
            <td th:text="${weather.nx}"></td>
            <td th:text="${weather.ny}"></td>
            <td th:text="${weather.t1h}"></td>
            <td th:text="${weather.rn1}"></td>
            <td th:text="${weather.uuu}"></td>
            <td th:text="${weather.vvv}"></td>
            <td th:text="${weather.reh}"></td>
            <td th:text="${weather.pty}"></td>
            <td th:text="${weather.vec}"></td>
            <td th:text="${weather.wsd}"></td>
        </tr>
        </tbody>
    </table>
    <span th:text="${clothingRecommendations}"></span>
</body>
</html>