<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otneul</title>
    <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>옷늘</h1>
            <span class="subtitle">오늘 날씨엔 어떤 옷?</span>
        </div>
        <div class="header-right">
            <img src="/images/profile.svg" alt="사용자 아이콘" class="user-icon">
        </div>
    </header>

    <nav>
        <ul class="menu">
            <span>지역 선택으로 이동:</span>
            <a href="/location/select" class="button">Go</a>
        </ul>
        <div th:if="${fcstWeather == null}" class="error-message">
            <p th:text="${message}">Location data not found in cookies.</p>
        </div>
    </nav>

    <main>
        <div class="main-content" th:if="${fcstWeather != null}">
            <!-- 날씨 정보  -->
            <div class="weather-info">
                <div class="current-weather">
                    <h2 th:text ="${userLocation[1]} + ' ' + ${userLocation[2]}">서울</h2>
                    <div class="current-temperature">
                        <img th:src="@{${nowWeather.icon}}" class="weather-icon" alt="현재 날씨 아이콘">
                        <span class="temperature" th:text="${nowWeather.t1h} + '°'"></span>
                    </div>
                    <p th:text="'하늘상태: ' + ${weatherDetails.sky}" class="weather-description">맑음</p>
                    <p th:text="'풍속: ' + ${weatherDetails.wsd}" class="weather-description">풍속</p>
                    <p th:text="'강수형태: ' + ${weatherDetails.pty}" class="weather-description">강수형태</p>
                    <p th:text="'습도: ' + ${weatherDetails.reh} + '%'" class="weather-description">-</p>
                </div>
                <div class="hourly-forecast">
                    <div class="hour-item" th:each="weather : ${fcstWeather}">
                        <p th:text="${weather.fcstTime}">10시</p>
                        <img th:src="@{${weather.icon}}" alt="날씨 아이콘">
                        <p th:text="${weather.t1h} + '°'">15°</p>
                    </div>
                </div>
            </div>
            <div class="category-suggestions">
                <h2>지금 날씨에는</h2>
                <div th:each="category : ${clothingCategory}" class="recommendation-category">
                    <h3 th:text="${category.key}" class="category-title"></h3>
                    <ul class="recommendation-list">
                        <li th:each="clothing : ${category.value}" th:text="${clothing.categoryName}"></li> <!-- ClothingCategory의 CategoryName 출력 -->
                    </ul>
                </div>
            </div>

            <div class="outfit-display">
                <h2>추천 상품</h2>
                <div class="product-categories" th:each="mainCategory : ${clothingProducts}">
                    <h3 th:text="${mainCategory.key}" class="main-category-title"></h3>
                    <div class="category-products" th:each="category : ${mainCategory.value}">
                        <h4 th:text="${category.key}" class="sub-category-title"></h4>
                        <div class="product-list" style="display: flex; flex-wrap: wrap; gap: 15px;">
                            <div class="product-item" th:each="product : ${category.value}" style="width: 150px; height: 200px; text-align: center;">
                                <a th:href="${product.link}" target="_blank" class="product-link">
                                    <img th:src="${product.imageUrl}" th:alt="이미지" class="product-image" style="width: 100%; height: auto;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!--    <table border="1">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Base Date</th>-->
<!--            <th>Base Time</th>-->
<!--            <th>Forecast Date</th>-->
<!--            <th>Forecast Time</th>-->
<!--            <th>NX</th>-->
<!--            <th>NY</th>-->
<!--            <th>Temperature (°C)</th>-->
<!--            <th>Precipitation (mm)</th>-->
<!--            <th>Sky</th>-->
<!--            <th>Humidity (%)</th>-->
<!--            <th>Precipitation Type</th>-->
<!--            <th>Wind Direction (°)</th>-->
<!--            <th>Wind Speed (m/s)</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="weather : ${fcstWeather}">-->
<!--            <td th:text="${weather.baseDate}"></td>-->
<!--            <td th:text="${weather.baseTime}"></td>-->
<!--            <td th:text="${weather.fcstDate}"></td>-->
<!--            <td th:text="${weather.fcstTime}"></td>-->
<!--            <td th:text="${weather.nx}"></td>-->
<!--            <td th:text="${weather.ny}"></td>-->
<!--            <td th:text="${weather.t1h}"></td>-->
<!--            <td th:text="${weather.rn1}"></td>-->
<!--            <td th:text="${weather.sky}"></td>-->
<!--            <td th:text="${weather.reh}"></td>-->
<!--            <td th:text="${weather.pty}"></td>-->
<!--            <td th:text="${weather.vec}"></td>-->
<!--            <td th:text="${weather.wsd}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <span th:text="${clothingCategory}"></span>-->

<!-- 날씨 데이터가 없을 때 -->
<div th:if="${weatherData == null}" class="error-message">
    <p th:text="${message}">Location data not found in cookies.</p>
</div>
</body>
</html>