<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/select-location.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/select-location.js"></script>

    <title>Select Location</title>
</head>
<body>
<div th:replace="~{/header.html :: header}"></div>

<main>
    <div class="location-form">
        <h2>지역 선택</h2>
        <div class="form-group">
            <div class="select-container">
                <label for="region">시/도</label>
                <select id="region" name="region">
                    <option value="">선택하세요</option>
                    <option th:each="region : ${regions}" th:value="${region}" th:text="${region}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="select-container">
                <label for="district">구/군</label>
                <select id="district" name="district" disabled>
                    <option value="">선택하세요</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="select-container">
                <label for="town">동/읍/면</label>
                <select id="town" name="town" disabled>
                    <option value="">선택하세요</option>
                </select>
            </div>
        </div>
        <button id="saveButton" disabled>확인</button>
    </div>
</main>

</body>
</html>
